<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
  </div>
  <div class="content-wrapper">
    <section id="horizontal-form-layouts">
      <div class="row">
        <div
          class="col-md-12"
          *blockUI="'cancellationTable'; message: 'Loading'"
        >
          <m-card
            [options]="options"
            (reloadFunction)="reloadReportTable($event)"
          >
            <ng-container mCardHeaderTitle> Listado de ventas </ng-container>
            <ng-container mCardBody>
              <div class="row">
                <div class="col-md-3">
                  <form>
                    <div class="form-group form-inline">
                      Buscar:
                      <input
                        class="form-control ml-2"
                        type="text"
                        [formControl]="filter"
                      />
                    </div>
                  </form>
                </div>
                <div class="col-md-3">
                  <div class="form-group form-inline">
                    Desde:
                    <input
                      type="date"
                      placeholder="yyyy-mm-dd"
                      [(ngModel)]="from"
                      name="from"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group form-inline">
                    Hasta:
                    <input
                      type="date"
                      placeholder="yyyy-mm-dd"
                      [(ngModel)]="to"
                      name="to"
                    />
                  </div>
                </div>
              </div>
              <div class="table-responsive card-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th *ngFor="let head of headElements" scope="col">
                        {{ head }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      mdbTableCol
                      *ngFor="
                        let element of productSearch
                          | async
                          | filterDate: from:to
                          | slice
                            : (page - 1) * pageSize
                            : (page - 1) * pageSize + pageSize;
                        index as i
                      "
                    >
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <ngb-highlight
                          [result]="element.name"
                          [term]="filter.value"
                        >
                        </ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight
                          [result]="element.quantity"
                          [term]="filter.value"
                        >
                        </ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight
                          [result]="element.totalPrice"
                          [term]="filter.value"
                        >
                        </ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight
                          [result]="element.date.toDate() | date: 'dd/MM/yyyy HH:mm'"
                          [term]="element.date.toDate() | date: 'dd/MM/yyyy HH:mm'"
                        >
                        </ngb-highlight>
                      </td>
                      <td>
                        <div class="form-group pb-1">
                          <div class="float-left">
                            <ui-switch
                              class="switchery"
                              switchColor="white"
                              color="rgb(55, 188, 155)"
                              size="small"
                              [checked]="element.cancellation"
                              (change)="onChange(element, $event)"
                            ></ui-switch>
                          </div>
                          <div *ngIf="element.cancellation; else elseBlock">
                            <label
                              for="switcheryColor"
                              class="card-title ml-1 ds-1"
                              >Sí</label
                            >
                          </div>
                          <ng-template #elseBlock>
                            <label
                              for="switcheryColor"
                              class="card-title ml-1 ds-1"
                              >No</label
                            >
                          </ng-template>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                  <ngb-pagination
                    [collectionSize]="collectionSize"
                    [(page)]="page"
                    [pageSize]="pageSize"
                  >
                  </ngb-pagination>

                  <select
                    class="custom-select"
                    style="width: auto"
                    [(ngModel)]="pageSize"
                  >
                    <option [ngValue]="collectionSize">
                      Mostrar todos los ítems
                    </option>
                    <option [ngValue]="2">2 ítems por página</option>
                    <option [ngValue]="4">4 ítems por página</option>
                    <option [ngValue]="6">6 ítems por página</option>
                  </select>
                </div>
              </div>
            </ng-container>
          </m-card>
        </div>
      </div>
    </section>
  </div>
</div>
