<div class="app-content content">
  <div class="loader-wrapper" *ngIf="loading">
    <div class="loader-container">
      <div class="ball-rotate loader-danger">
        <div></div>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <section class="left-right-offset" id="left-right-offset">
        <div class="row" matchHeight="card">
          <div
            class="col-xl-8 col-lg-12"
            *blockUI="'productsInfo'; message: 'Loading'"
          >
            <m-card
              [options]="options"
              (reloadFunction)="reloadProductsInfo($event)"
            >
              <ng-container mCardHeaderTitle>
                Búsqueda de productos
              </ng-container>
              <ng-container mCardBody>
                <form>
                  <div class="form-group form-inline">
                    Buscar:
                    <input
                      class="form-control ml-2"
                      type="text"
                      [formControl]="filter"
                    />
                  </div>
                </form>
                <div class="table-responsive card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th *ngFor="let head of headElements" scope="col">
                          {{ head }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        mdbTableCol
                        *ngFor="
                          let element of productSearch
                            | async
                            | slice
                              : (page - 1) * pageSize
                              : (page - 1) * pageSize + pageSize;
                          index as i
                        "
                      >
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                          <ngb-highlight
                            [result]="element.name"
                            [term]="filter.value"
                          >
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight
                            [result]="element.total"
                            [term]="filter.value"
                          >
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight
                            [result]="element.stock"
                            [term]="filter.value"
                          >
                          </ngb-highlight>
                        </td>
                        <td>
                          <button
                            (click)="test()"
                            class="btn btn-xs btn-social-icon mr-1 mb-1 btn-instagram"
                          >
                            <span class="la la-pencil"></span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination
                      [collectionSize]="collectionSize"
                      [(page)]="page"
                      [pageSize]="pageSize"
                    >
                    </ngb-pagination>

                    <select
                      class="custom-select"
                      style="width: auto"
                      [(ngModel)]="pageSize"
                    >
                      <option [ngValue]="2">2 ítems por página</option>
                      <option [ngValue]="4">4 ítems por página</option>
                      <option [ngValue]="6">6 ítems por página</option>
                    </select>
                  </div>
                </div>
              </ng-container>
            </m-card>
          </div>
          <div
            class="col-xl-4 col-lg-12"
            *blockUI="'productsSale'; message: 'Loading'"
          >
            <m-card
              [options]="options"
              (reloadFunction)="reloadSelectProductInfo($event)"
            >
              <ng-container mCardHeaderTitle> Lista de productos </ng-container>
              <ng-container mCardBody>
                <div class="table-responsive card-body">
                  <table mdbTable responsive="true" class="table table-striped">
                    <thead>
                      <tr>
                        <th *ngFor="let head of headElements2" scope="col">
                          {{ head }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr mdbTableCol *ngFor="let el of elements2">
                        <td scope="row">{{ el.first }}</td>
                        <td>{{ el.last }}</td>
                        <td>
                          <button
                            (click)="test()"
                            class="btn btn-xs btn-social-icon mr-1 mb-1 btn-pinterest"
                          >
                            <span class="la la-trash"></span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
