<nav
  class="
    header-navbar
    navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow
    fixed-top
    navbar-dark navbar-shadow
  "
>
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto">
          <a
            class="nav-link nav-menu-main menu-toggle hidden-xs"
            [routerLink]=""
          >
            <i class="feather ft-menu font-large-1"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand"
            ><img
              class="brand-logo"
              alt="modern admin logo"
              src="../../../../assets/images/logo/logo.png"
            />
            <h3 class="brand-text">Vitrina comercial</h3>
          </a>
        </li>
        <li class="nav-item d-md-none">
          <a
            class="nav-link open-navbar-container"
            data-toggle="collapse"
            data-target="#navbar-mobile"
            (click)="toggleNavbar($event)"
            ><i class="la la-ellipsis-v"></i
          ></a>
        </li>
      </ul>
    </div>
    <!--div class="navbar-container">
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbar-mobile"
      >
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link mr-2 nav-link-label"
              ><i class="ficon feather ft-arrow-left"></i
            ></a>
          </li>
          <li class="dropdown nav-item">
            <a class="nav-link mr-2 nav-link-label" data-toggle="dropdown"
              ><i class="ficon feather ft-settings"></i
            ></a>
          </li>
        </ul>
      </div>
    </div-->
    <div class="navbar-container content" [hidden]="isMobile && !showNavbar">
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbar-mobile"
      >
        <ul class="nav navbar-nav float-right">
          <li
            class="dropdown-notification nav-item dropdown"
            ngbDropdown
            *ngIf="notification === 'on'"
          >
            <a class="nav-link nav-link-label" ngbDropdownToggle>
              <i class="ficon feather ft-shopping-cart"></i>
              <span
                *ngIf="productCartList.length != 0"
                class="badge badge-pill badge-danger badge-up badge-glow"
                >{{ totalProduct }}</span
              >
            </a>
            <ul class="dropdown-menu-media dropdown-menu-right" ngbDropdownMenu>
              <li class="dropdown-menu-header">
                <h6 class="dropdown-header m-0">
                  <span class="grey darken-2">Carrito de compras</span>
                </h6>
                <span
                  class="
                    notification-tag
                    badge badge-default badge-danger
                    float-right
                    m-0
                  "
                  >{{ totalProduct }} productos</span
                >
              </li>
              <li
                class="
                  scrollable-container
                  media-list
                  w-100
                  ps-container ps-theme-dark ps-active-y
                "
                fxFlex="auto"
                [perfectScrollbar]="config"
              >
                <div class="media" *ngFor="let element of productCartList">
                  <div class="media-left align-self-center">
                    <i class="la la-cutlery icon-bg-circle bg-cyan"></i>
                  </div>
                  <div class="media-body">
                    <h6 class="media-heading">{{ element.name }}</h6>
                    <p class="notification-text font-small-3 text-muted">
                      Cantidad: {{ element.quantity }}
                    </p>
                    <small>
                      <time
                        class="media-meta text-muted"
                        datetime="2015-06-11T18:29:20+08:00"
                        >$ {{ element.totalPrice }}</time
                      ></small
                    >
                  </div>
                  <div class="media-right align-self-center">
                    <a role="button" (click)="delete()">
                      <i class="la la-close"></i>
                    </a>
                  </div>
                </div>
              </li>
              <li class="dropdown-menu-footer">
                <a
                  role="button"
                  (click)="func()"
                  class="dropdown-item text-muted text-center"
                  href="javascript:void(0)"
                  >Realizar pedido</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
