<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body" *blockUI="'allInfo'; message: 'Loading'">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card text-white bg-primary text-center">
            <div class="card-content">
              <div class="card-body pt-3">
                <img
                  src="../../../assets/images/elements/01.png"
                  alt="element 01"
                  width="190"
                  class="float-left"
                />
                <h4 class="card-title mt-3 text-white">{{ nameCake }}</h4>
                <p class="card-text">Ubicado en {{ addressCake }}</p>
                <a
                  [routerLink]=""
                  style="background-color: white"
                  class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook"
                  ><span class="la la-facebook"></span
                ></a>
                <a
                  [routerLink]=""
                  style="background-color: white"
                  class="btn btn-social-icon mr-1 mb-1 btn-outline-instagram"
                  ><span class="la la-instagram font-medium-4"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 d-flex align-items-center justify-content-center">
          <div class="m-auto">
            <h3 class="mx-auto d-block"><b>Productos disponibles</b></h3>
          </div>
        </div>
        <div
          *ngFor="
            let element of PRODUCT
              | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
          "
          class="col-xl-3 col-md-4 col-sm-12"
        >
          <div class="card">
            <div class="card-content">
              <img
                style="width: 400px; height: 200px"
                class="card-img-top img-fluid mx-auto"
                [src]="element.img"
                alt="Sin imagen"
              />
              <div class="card-body">
                <h4 class="card-title">{{ element.name }}</h4>
                <p class="card-text">
                  Precio: ${{ element.total | number | transform }}
                </p>
                <form [formGroup]="productInfo">
                  <div class="input-group">
                    <input
                      formControlName="quantity"
                      type="text"
                      class="form-control"
                      placeholder="Cantidad"
                      aria-describedby="button-addon2"
                    />
                    <div class="input-group-append">
                      <a
                        role="button"
                        (click)="addCart(element)"
                        class="btn btn-outline-teal"
                        ><i class="feather ft-shopping-cart mr-1"></i>Agregar</a
                      >
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="text-center">
            <nav aria-label="Page navigation">
              <ul
                class="
                  pagination
                  justify-content-center
                  pagination-separate pagination-round pagination-flat
                "
              >
                <ngb-pagination
                  [collectionSize]="collectionSize"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  aria-label="Default pagination"
                >
                </ngb-pagination>

                <!--select
                  class="custom-select"
                  style="width: auto"
                  [(ngModel)]="pageSize"
                >
                  <option [ngValue]="collectionSize">
                    Mostrar todos los ítems
                  </option>
                  <option [ngValue]="10">10 ítems por página</option>
                  <option [ngValue]="20">20 ítems por página</option>
                  <option [ngValue]="30">30 ítems por página</option>
                </select-->
              </ul>
            </nav>
          </div>
        </div>
        <!--div class="col-md-12 d-flex align-items-center justify-content-center">
          <div class="col-md-10 col-xl-10">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Pastelería Amada J&M</h5>
              </div>
              <div class="card-content">
                <div
                  id="carousel-example"
                  class="carousel slide"
                  data-ride="carousel"
                >
                  <div class="carousel-inner" role="listbox">
                    <ngb-carousel *ngIf="carouselTwo">
                      <ng-template ngbSlide>
                        <img
                          style="width: 400px; height: 400px"
                          [src]="carouselTwo[0]"
                          class="d-block w-100"
                        />
                      </ng-template>
                      <ng-template ngbSlide>
                        <img
                          style="width: 400px; height: 400px"
                          [src]="carouselTwo[1]"
                          class="d-block w-100"
                        />
                      </ng-template>
                      <ng-template ngbSlide>
                        <img
                          style="width: 400px; height: 400px"
                          [src]="carouselTwo[2]"
                          class="d-block w-100"
                        />
                      </ng-template>
                    </ngb-carousel>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Deléitate de estos exquisitos sabores en nuestra Pastelería
                    Amada J&M.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div-->
      </div>
    </div>
  </div>
</div>
