.dropdown-menu {
  position: absolute;
  top: 14px !important;
  left: 0px !important;
  transform: translate3d(11px, -276px, 0px);
}

.right_space {
  margin-right: 0.5rem !important;
}

:host ::ng-deep .content-wrapper {
  padding: 2rem !important;
  background: rgba(255, 249, 249, 0.5) !important;
}

:host ::ng-deep .gap_fl_btn {
  margin: 0 0.3rem;
}
:host ::ng-deep .block-ui-wrapper {
  background: rgba(255, 249, 249, 0.5) !important;
}
