<div class="modal-header">
  <!--h4 class="modal-title" id="modal-basic-title">Profile update</h4-->
  <h4 class="form-section">
    <i class="mr-2 mt-6 feather ft-edit"></i
    >{{ opc ? "Editar producto" : "Agregar producto" }}
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="productInfo">
    <div class="form-body">
      <h4 class="form-section">
        <i class="la la-eye"></i> Acerca del producto
      </h4>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Nombre producto *</label>
            <input
              formControlName="name"
              type="text"
              id="name"
              class="form-control border-primary"
              placeholder="Nombre producto"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            />
            <small
              class="form-text text-muted danger"
              *ngIf="submitted && f.name.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.name.errors.required">
                El nombre del producto es requerido.
              </div>
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="measure">Unidad de medida *</label>
            <select
              id="measure"
              class="form-control border-primary"
              formControlName="measure"
              [ngClass]="{ 'is-invalid': submitted && f.measure.errors }"
            >
              <option disabled selected>Selecciona una opción</option>
              <option
                *ngFor="let measure of measures"
                [value]="measure.id"
                value="measure.id"
              >
                {{ measure.name }}
              </option>
            </select>
            <small
              class="form-text text-muted danger"
              *ngIf="submitted && f.measure.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.measure.errors.required">
                La unidad de medida del producto es requerida.
              </div>
            </small>
          </div>
        </div>
      </div>
      <h4 class="form-section">
        <i class="feather ft-info"></i> Información del producto
      </h4>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="neto">Neto *</label>
            <input
              (keypress)="keyPress($event)"
              (ngModelChange)="setIvaBruto($event)"
              formControlName="neto"
              type="text"
              id="neto"
              class="form-control border-primary"
              placeholder="Precio neto producto"
              [ngClass]="{ 'is-invalid': submitted && f.neto.errors }"
            />
            <small
              class="form-text text-muted danger"
              *ngIf="submitted && f.neto.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.neto.errors.required">
                El valor neto del producto es requerido.
              </div>
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="iva">IVA</label>
            <input
              readonly
              formControlName="iva"
              type="text"
              id="iva"
              class="form-control border-primary"
              placeholder="IVA del producto"
              [ngClass]="{ 'is-invalid': submitted && f.iva.errors }"
            />
            <small
              class="form-text text-muted danger"
              *ngIf="submitted && f.iva.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.iva.errors.required">El iva del producto.</div>
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bruto">Bruto</label>
            <input
              readonly
              formControlName="bruto"
              type="text"
              id="bruto"
              class="form-control border-primary"
              placeholder="Precio bruto"
              [ngClass]="{ 'is-invalid': submitted && f.bruto.errors }"
            />
            <small
              class="form-text text-muted danger"
              *ngIf="submitted && f.bruto.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.bruto.errors.required">
                El precio bruto es requerido.
              </div>
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="margen">Margen de ganacia</label>
            <input
              (keypress)="keyPress($event)"
              (change)="setTotal($event.target.value)"
              formControlName="margen"
              type="text"
              id="margen"
              class="form-control border-primary"
              placeholder="Margen de ganacia"
              [ngClass]="{ 'is-invalid': submitted && f.margen.errors }"
            />
            <small
              class="form-text text-muted danger"
              *ngIf="submitted && f.margen.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.margen.errors.required">
                El margen de ganacia es requerido.
              </div>
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="total">Precio venta</label>
            <input
              (keypress)="keyPress($event)"
              (change)="setMargen($event.target.value)"
              formControlName="total"
              type="text"
              id="total"
              class="form-control border-primary"
              placeholder="Precio venta"
              [ngClass]="{ 'is-invalid': submitted && f.total.errors }"
            />
            <small
              class="form-text text-muted danger"
              *ngIf="submitted && f.total.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.total.errors.required">
                El precio venta es requerido.
              </div>
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="stock">Cantidad producto</label>
            <input
              (keypress)="keyPress($event)"
              formControlName="stock"
              type="text"
              id="stock"
              class="form-control border-primary"
              placeholder="Cantidad producto"
              [ngClass]="{ 'is-invalid': submitted && f.stock.errors }"
            />
            <small
              class="form-text text-muted danger"
              *ngIf="submitted && f.stock.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.stock.errors.required">
                El stock del producto es requerido.
              </div>
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="minimun">Cantidad mínima producto</label>
            <input
              (keypress)="keyPress($event)"
              formControlName="minimun"
              type="text"
              id="minimun"
              class="form-control border-primary"
              placeholder="Cantidad mínima producto"
              [ngClass]="{ 'is-invalid': submitted && f.minimun.errors }"
            />
            <small
              class="form-text text-muted danger"
              *ngIf="submitted && f.minimun.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.minimun.errors.required">
                La cantidad mínima es requerido.
              </div>
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>¿Es materia prima?</label>
            <div class="input-group">
              <div class="d-inline-block custom-control custom-radio">
                <input
                  formControlName="ismaterial"
                  type="radio"
                  class="custom-control-input"
                  value="yes"
                  id="ismaterialradio1"
                  [ngClass]="{ 'is-invalid': submitted && f.ismaterial.errors }"
                />
                <label class="custom-control-label" for="ismaterialradio1"
                  >Sí</label
                >
              </div>

              <div class="d-inline-block custom-control custom-radio ml-1">
                <input
                  formControlName="ismaterial"
                  type="radio"
                  class="custom-control-input"
                  value="no"
                  id="ismaterialradio2"
                  [ngClass]="{ 'is-invalid': submitted && f.ismaterial.errors }"
                />
                <label class="custom-control-label" for="ismaterialradio2"
                  >No</label
                >
              </div>
            </div>
            <small
              class="form-text text-muted danger"
              *ngIf="submitted && f.ismaterial.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.ismaterial.errors.required">
                La materia prima es requerido.
              </div>
            </small>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-content collapse show">
            <div class="row">
              <div class="col-md-6 m-auto">
                <button
                  (click)="addIngredients()"
                  class="btn btn-primary btn-min-width mr-1 mb-1"
                >
                  <i class="la la-plus"></i> {{ titleIngredient }}
                </button>
              </div>
            </div>
          </div>
          <!--div class="row justify-content-center">
            <div class="form-group">
              <label>¿Añadir ingredientes?</label>
              <div
                *ngIf="
                  this.productService.selectedProduct.ingredients !=
                    undefined &&
                    this.productService.selectedProduct.ingredients.length > 0;
                  else elseBlock
                "
              >
                <div class="input-group">
                  <div>
                    <div class="custom-control custom-radio">
                      <input
                        checked
                        (change)="showcontent($event.target.value)"
                        value="yes"
                        type="radio"
                        class="custom-control-input"
                        name="customRadio"
                        id="customRadio1"
                      />
                      <label class="custom-control-label" for="customRadio1"
                        >Sí</label
                      >
                    </div>
                  </div>
                  <div>
                    <div class="ml-1 custom-control custom-radio">
                      <input
                        (change)="showcontent($event.target.value)"
                        value="no"
                        type="radio"
                        class="custom-control-input"
                        name="customRadio"
                        id="customRadio2"
                      />
                      <label class="custom-control-label" for="customRadio2"
                        >No</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <div class="input-group">
                  <div>
                    <div class="custom-control custom-radio">
                      <input
                        (change)="showcontent($event.target.value)"
                        value="yes"
                        type="radio"
                        class="custom-control-input"
                        name="customRadio"
                        id="customRadio1"
                      />
                      <label class="custom-control-label" for="customRadio1"
                        >Sí</label
                      >
                    </div>
                  </div>
                  <div>
                    <div class="ml-1 custom-control custom-radio">
                      <input
                        (change)="showcontent($event.target.value)"
                        value="no"
                        type="radio"
                        class="custom-control-input"
                        name="customRadio"
                        id="customRadio2"
                        checked
                      />
                      <label class="custom-control-label" for="customRadio2"
                        >No</label
                      >
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div-->
        </div>
        <!--div
          class="col-md-12 mb-2"
          id="showaddingredients"
          style="display: none"
          formArrayName="ingredients"
        >
          <div
            class=""
            *ngFor="let userForm of userFormGroup.controls; let i = index"
          >
            <div [formGroupName]="i" class="">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="measure">Producto *</label>
                    <div class="input-group mb-1">
                      <select
                        name="idIngredients"
                        class="form-control"
                        formControlName="idIngredients"
                        (ngModelChange)="onChangeObj($event)"
                      >
                        <option disabled selected>Selecciona una opción</option>
                        <option
                          *ngFor="let interest of ingredientes"
                          [value]="interest.id"
                        >
                          {{ interest.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="quantity">Cantidad *</label>
                    <div class="input-group mb-1">
                      <div class="input-group">
                        <input
                          type="text"
                          formControlName="quantity"
                          id="quantity"
                          class="form-control"
                          placeholder="Ingrese cantidad"
                          aria-describedby="basic-addon2"
                        />
                        <div class="input-group-append">
                          <input
                            class="input-group-text"
                            formControlName="measure2"
                            [value]="measureName"
                            readonly
                          />
                        </div>
                        <button
                          class="btn btn-danger"
                          type="button"
                          (click)="removePhone(i)"
                        >
                          <i class="feather ft-x"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" (click)="addPhone()">
            <i class="feather ft-plus"></i> Agregar receta
          </button>
        </div-->
      </div>
    </div>
    <div class="modal-footer">
      <button
        (click)="activeModal.dismiss('Cross click')"
        type="button"
        class="btn btn-sm grey btn-outline-secondary"
      >
        <i class="feather ft-x"></i> Cerrar
      </button>
      <button (click)="onProductInfoSubmit()" class="btn btn-sm btn-outline-primary">
        <i class="feather ft-check"></i> Guardar
      </button>
    </div>
  </form>
</div>
